<app-navbar></app-navbar>
<app-carousel></app-carousel>
<div class="container">

    <app-cards></app-cards>
    <section>

        <h2 class="my-5 h3 text-center">Liste complète des fonctionnalités</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

            <!--First column-->
            <div class="col-md-4">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Données</h6>
                        <p class="grey-text">Toutes les données des joueurs sont à portée de main sous forme électronique.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Calendrier</h6>
                        <p class="grey-text">Calendrier avec horaires des entraînements, des matchs et des compétitions.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Second row-->

                <!--Third row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Liste</h6>
                        <p class="grey-text">Page personnelle de l'entraîneur avec la liste de tous ses résultats.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Third row-->

                <!--Fourth row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Sécurisées</h6>
                        <p class="grey-text">Archives électroniques sécurisées des méthodes du club et accès aux données ouvertes des autres écoles.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Fourth row-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4 flex-center">
                <img src="../../../../assets/image/image8.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4 mt-2">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Protégées</h6>
                        <p class="grey-text">Vos données sont protégées et vous sont accessibles restent même après la fin de votre abonnement à Academie.
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Entrainements</h6>
                        <p class="grey-text">Calendrier actualisé des entraînements et des matchs</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Second row-->

                <!--Third row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Programmes</h6>
                        <p class="grey-text">utiliser des programmes spécifiques pour analyser une vidéo et créer des séances d’entraînement.
                            <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Third row-->

                <!--Fourth row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Match</h6>
                        <p class="grey-text">Calendrier actualisé des entraînements et des matchs.</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Fourth row-->
            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->

    </section>

    <app-contacts></app-contacts>
</div>

<app-footer></app-footer>