<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
        <img src="../../../../assets/image/image1.png" class="d-block h-50 w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="../../../../assets/image/image2.png" class="d-block h-50 w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="../../../../assets/image/image4.png" class="d-block h-50 w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="../../../../assets/image/image3.png" class="d-block h-50 w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
</mdb-carousel>
