<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <!-- <a href="#" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-user-alt fa-fw me-3"></i><span>User</span>
                </a>
                <a href="#" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fas fa-user-tie fa-fw me-3"></i><span>Entraineur</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-running fa-fw me-3"></i><span>Joeur</span></a
        > -->
                <a routerLink="/equipe" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple "><i class="fas fa-users fa-fw me-3"></i><span>Equipe</span></a
        >
        <a routerLink="/match"  routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-th fa-fw me-3"></i><span>Match</span>
        </a>
                <a routerLink="/score" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Score</span></a
        >
        <a routerLink="/entrainement" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-people-carry fa-fw me-3"></i><span>Entrainement</span></a
        >
        <button class="mt-5" (click)="logout()"><i class="fas fa-sign-out-alt fa-fw me-3"></i><span>Logout</span></button>

      </div>
    </div>
  </nav>
  <!-- Sidebar -->




</header>
<!--Main Navigation-->